* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
    background: #000;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b0b0b0' fill-opacity='0.16'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a{
    color: #fff;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

.nav-main {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px 0;
}

.nav-logo{
    width: 100px;
    border-radius: 50%;
}

.nav-main ul{
    display: flex;
}
.nav-main ul li{
    padding: 50px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #fff;
}

.banner{
    color: #ffd000;
    font-size: 50px;
    width: 100%;
    height: 700px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: 10px 20px;
    font-weight: bold;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
}

.btn:hover{
    opacity: .7;
}

.banner h1,
.banner h2{
    margin-bottom: 10px;
}

.banner h2{
    color: #fff;
}

.sobre-mi{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.about-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffd000;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.aboutme{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 400px;
}

.aboutme img{
    border-radius: 50%;
    border: 2px solid #fff;
}

.aboutme .datos{
    color: #000;
    padding: 10px;
    border-radius: 10px;
}

.pefil-estudios-habilidades-experiencia{
    background: #fff;
    color: #000;
    padding: 20px 200px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.pefil-estudios-habilidades-experiencia h3,
.pefil-estudios-habilidades-experiencia p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.estudios{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.habilidades{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.social {
    margin: 50px;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links-redes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-redes a{
    margin: 0 20px;
}

.links-redes a i{
    font-size: 50px;
}

.logo-footer{
    width: 100px;
    border-radius: 50%;
}

.footer-links{
    background: #ffd000;
    color: #000;
    padding: 35px;
    width: 100%;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.footer-container ul{
    margin: 0 20px;
    font-size: 20px;
}

.menu-footer{
    display: flex;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.menu-footer a{
    color: #000;
}

.menu-footer a:hover{
    border-bottom: 1px solid #000;
}

.footer{
    background: #ffd000;
    color: #000;
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
}

/* Contacto css */
.contact-container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    margin-bottom: 30px;
}

.letracont{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.contact-wrapper{
    box-shadow: 0 0 20px 0 rgb(255, 255, 255);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form{
    background: #ffd000;
}
.contact-form form .block{
    grid-column: 1 / 3;
}
.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-form form p{
    margin: 0;
    padding: 1em;
}

.contact-form label{
    color: #000;
    font-size: 20px;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid #000;
    outline: none;
    color: #000;
    font-size: 15px;
}

.contact-form form button{
    background: #000;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    padding: 1em;   
}
.contact-form form button:hover,
.contact-form form button:focus{
    background: #303030;
    transition: background-color 0.5s ease-out;
    outline: 0;
}


.contact-info{
    background: #000;
}
.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul{
    list-style: none;
    padding: 0;
}

.contact-info ul li{
    padding: .3em;
}

.img-info{
    text-align: center;
}
.contact-info img{
    width: 100px;
}

/* pantalla grande */
@media (min-width: 700px) {
    .contact-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper > *{
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        padding: 1em;
        text-align: left;
    }

}

/* PROYECTOS CSS*/
.mensaje-proyect{
    background: url('./img/cintas.png'), no-repeat center center/cover;
    margin-bottom: 100px;
}

.cooming-soon{
    font-size: 150px;
}
.no-found{
    font-size: 100px;
}

/* boton wsp */
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}